<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="./js/vue.js"></script>
</head>
<body>
<div id="did">
姓名：<input v-model="name">
年龄：<input v-model="age">
<button @click="add">加</button>
<button @click="jian">减</button>
</div>
<script type="text/javascript">
  var app=new Vue({
	  el:"#did",
	  data:{
		  name:"小奥",
		  age:18
	  },
	  methods:{
		  add:function(){
			  this.age++;
		  },
	       jian(){
	    	   this.age--;
	       }
	  }
  });
 </script>
</body>
</html>